 html, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        main {
            width: 4010px;    
            height: 2010px;
            background-color: gray;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            border-radius: 25px;
        }

        header {
            height: 250px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

        .content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;   
            gap: 10px;
        }

        .box {
            border-radius: 25px;
            background-color: white;

            width: 2000px;
            height: 2000px;
            }
        .inside {
            text-align: left;

        }
        

        .box3 {
            width: 100px;
            height: 25px;
            background-color: white;
        }
        .red {
            width: 400px;
            height: 85px;
            border-radius: 25px;
            background-color: red;
            text-align: center  ;
        }
            .large-button {
                width: 600px;
                border-radius: 25px;
                height: 200px;
                font-size: 87px;
                padding: 10px 20px;
                background-color: #ff9900;
                cursor: pointer;
                transition-duration: 0.4s;

            }
        .container {
            max-width: 4500px;
            height: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: center;

        }

        .header {
            display: flex;
            background: black;
            color: white;
            padding: 30px;
            text-align:center;
            align-items: center;
        }
                
        .header-info {

            font-size : 150px;
            text-align: center;
        }
                .logo {
            width: 200px;
            height: 200px;
            background-color: #c0c0c0;
            margin-right: 20px;

        }
        .button1:hover {
        background-color: #ff9900;
        color: white;
}